.form-container {
    max-width: 500px;
    background:lemonchiffon ;
    border: 1px solid ;
    padding: 10px ;
    margin: 20px auto;
}
.title {
    color: blue;
    font-weight: bold;
    background:powderblue;
    padding: 5px ;
    margin-top: 10px;
}
.label-blue
{
    color: blue;
    font-weight: bold;
}
.input-text
{
    padding: 5px;
    margin: 10px;
    border: 2px solid;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-style: inset;
}
.button {
    border: 2px solid;
    box-shadow: 0 4px 8px #cccccc;
    background: #888888;
    border-style: outset;
    width: 80px;
    height: 30px;
    padding: 5px;
    margin: 10px;
}